/*
 *  CSS Page
 * ------------------------------------------------------------------------------
 */
button.btn.register,
a.btn.register {
    position: absolute;
    bottom: -21px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}
button.btn.register.btn-sm,
a.btn.register.btn-sm {
    font-size: 12px;
    left: auto;
    right: auto;
    bottom: -10px;
    padding: 3px 6px;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {


}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
