/*
 *  Fonts
 * ------------------------------------------------------------------------------
 */
/* Khmer Os Battambang */
@font-face {  font-family: "Khmer Os Battambang";font-style: normal;font-weight: 400;src: local("Khmer Os Battambang"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.eot?#iefix") format("embedded-opentype"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff2") format("woff2"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.woff") format("woff"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.ttf") format("truetype"),url("../fonts/Khmer-os-battambang/KhmerOSbattambang.svg#svgFontName") format("svg");unicode-range: U+1780-17FF, U+200B-200C, U+25CC; }
/* BayonV8Khmer */
@font-face { font-family: "BayonV8Khmer";font-style: normal;font-weight: 400;src: local("BayonV8Khmer"),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.eot") format('eot'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.svg") format('svg'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.ttf") format('ttf'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.woff") format('woff'),url("../fonts/bayon-v8-khmer/bayon-v8-khmer-regular.woff2") format('woff2');unicode-range: U+1780-17FF, U+200B-200C, U+25CC; }

/*
 *  Global CSS
 * ------------------------------------------------------------------------------
 */
body {
    font-family: Khmer Os Battambang,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #1a1a1a;
    background: #2d2d2d;
    overflow-x: hidden;
    position:relative;
}
.overlay,.sideMenu{position:fixed;bottom:0}
.overlay{top:0;left:-100%;right:100%;margin:auto;background-color:rgba(0,0,0,.5);z-index:998;transition:all ease 0.2s}
.overlay.open{left:0;right:0}
.sidebarNavigation{margin-bottom:0;z-index:997;justify-content:flex-start}
.sidebarNavigation .leftNavbarToggler{margin-right:0px;padding-right:0;order:0}
.sideMenu{left:-100%;transition:all ease 0.5s;overflow:hidden;width:100%;z-index:999;max-width:100%;margin-bottom:0;padding:1rem}
.sideMenu.open{left:0;display:block;overflow-y:auto}
.sideMenu ul{margin:0;padding:0 15px}

/* header tag */
h1 { font-size: 24px;font-weight: 900; }
h2 { font-size: 20px;font-weight: 900; }
h3 { font-size: 18px;font-weight: 900; }
h4 { font-size: 16px;font-weight: 900; }
h5 { font-size: 14px;font-weight: 700; }
h6 { font-size: 12px;font-weight: 900; }
/* link */
a, a:hover, a:visited, a:link, a:active, a:focus {
    text-decoration: none;
    outline: none;
}
/* list */
ol, ul, dl { padding: 0; }
ul li,ol li{ list-style: none; }
/* form */
textarea:focus, input:focus, button:focus {
    outline: none;
}
/* paragraph */
p.font-14 {
    font-size: 14px;
}
.promote-code {
    font-size: 24px;
    font-weight: 900;
}

/*
 *  Header
 * ------------------------------------------------------------------------------
 */

/*
 *  Navigation
 * ------------------------------------------------------------------------------
 */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 997;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
header nav.navbar {
    background-color: #860000 !important;
    border-top: 1px solid #640000;
    border-bottom: 1px solid #640000;
    height: 58px;
}
header nav.navbar .navbar-toggler {
    border: 0;
    outline: none;
    padding-left: 0;
}
header nav.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navbarsExampleDefault ul li {
    padding: 0 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
#navbarsExampleDefault ul li:last-child {
    border: 0;
}
#navbarsExampleDefault ul li a.nav-link {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    /*color: #f7ad40;*/
    color: #ffffff;
    text-align: left;
    text-shadow: -1px -1px 0 #202038, 1px -1px 0 #202038, -1px 1px 0 #202038, 1px 1px 0 #202038;

    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
#navbarsExampleDefault ul li a.nav-link i,
#navbarsExampleDefault ul li a.nav-link div {
    display: inline-block;
}
/* navigation animation */
#navbarsExampleDefault ul li a.nav-link div {
    overflow: hidden;
}
#navbarsExampleDefault ul li a.nav-link div span {
    display: inline-block;
    position: relative;
    transition: transform 0.3s;
}
#navbarsExampleDefault ul li a.nav-link div span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    color: #f7ad40;
    font-weight: 400;
    transform: translate3d(0,0,0);
}
#navbarsExampleDefault ul li a.nav-link:hover div span,
#navbarsExampleDefault ul li a.nav-link:focus div span {
    transform: translateY(-100%);
}
#navbarsExampleDefault ul li.active a.nav-link:hover div span,
#navbarsExampleDefault ul li.active a.nav-link:focus div span {
    transform: translateY(0);
}
#navbarsExampleDefault ul li.active a.nav-link span {
    color: #f7ad40;
    font-weight: 700;
}

.search-overlay {
    display: none;
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
    background: #202040;
    width:100%;
    height:100%;
}
.search-overlay #close-btn {
    color: rgba(255,255,255,.8);
    text-shadow: none;
    font-size: 48px;
    font-weight: 300;
    opacity: 1;

    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}
.search-overlay #close-btn:hover {
    color: #ffffff;
}
.search-overlay .form-btn { margin-top: 20%; }
.search-overlay .form-btn input { height:60px; background: transparent; font-size: 24px; color: rgba(255,255,255,.8); }
.search-overlay .form-btn input:focus { background: transparent; outline: none; box-shadow: none; border-color:#ced4da; color: rgba(255,255,255,.8); }
.search-overlay .brd-left-none { border-left: none !important;}
.search-overlay .form-btn .form-control { border-right:none !important;}
.search-overlay .border-bottom { border: none; border-bottom: solid 1px #ced4da; border-radius: 0px;}
.search-overlay .form-btn input::placeholder { color: rgba(255,255,255,.8); font-weight: normal;}
.search-overlay button#button-submit:focus { outline: none; border: 0; box-shadow: none; }
.search-overlay button#button-submit {
    font-size: 24px;
}

/*
 *  Banner Slide
 * ------------------------------------------------------------------------------
 */
/*#banner-slide {
    margin: 0;
}
#banner-slide .slide {
    display: none !important;
    cursor: all-scroll;
    position: relative;
}
#banner-slide .slide .img-slide {
    display: none;
}
#banner-slide .slide .bg-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   !* min-height: 498px;*!
    height: 66vh;
}
#banner-slide .slide:first-child {
    display: block !important;
}
#banner-slide.slick-initialized .slide {
    display: block !important;
}
!* pagination *!
#banner-slide ul.slick-dots {
    bottom: 25px;
}
#banner-slide ul.slick-dots li button:before {
    color: #ffffff;
}
#banner-slide button.register {
    background-color: #ed1c24;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    position: absolute;
    bottom: 20%;
    left: 20%;
    border: 1px solid;
}*/

/*
 *  Animation line
 * ------------------------------------------------------------------------------
 */
.animation-element {
    opacity: 0;
}
.animation-element.divLine {
    opacity: 1;
    width: 0;
    height: 3px;
    background: #860000;
    -webkit-animation: dude .75s 1 forwards;
    -moz-animation: dude .75s 1 forwards;
    -o-animation: dude .75s 1 forwards;
    animation: dude .75s 1 forwards;
}
@-webkit-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@-o-keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes dude {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/*
 *  Custom
 * ------------------------------------------------------------------------------
 */

/* margin */
.m-l-15 {
    margin-left: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-x-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.m-y-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-x-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.m-y-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* padding */
.p-l-15 {
    padding-left: 15px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-x-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-l-30 {
    padding-left: 30px;
}
.p-r-30 {
    padding-right: 30px;
}
.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* position */
.position-b-0 {
    bottom: 0 !important;
}
/* color */
.color-red {
    color: #860000;
}
.color-gold {
    color: #f7ad40;
}
/* background */
.bg-black {
    background-color: #1a1a1a;
}
.bg-red-gradient {
    background-color: #860000;
    background-image: linear-gradient(90deg, #640000 0%, #860000 75%);
}
/* cursor */
.cursor-pointer {
    cursor: pointer !important;
}
/* border radius */
.rounded-10 {
    border-radius: 10px;
}
/* second-brand */
a.second-brand {
    color: rgba(255,255,255,.8) !important;
    font-size: 1.25rem !important;
    line-height: 36px !important;
    transition: width .3s ease-in-out;
    white-space: nowrap;
    display: block;
}
a.second-brand:hover {
    text-decoration: none !important;
}
a.second-brand .brand-image {
    float: left;
    width: auto;
    max-height: 40px;
    margin-top: -3px;
    margin-right: 5px;
}
a.second-brand .elevation-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23) !important;
}
a.second-brand .brand-text {
    transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}
.ad-img img {
    max-width: 100%;
    height: auto;
}

/*** img over
---------------------------------------------- ***/
.img-over a {
    position: relative;
    overflow: hidden;
    display: block;
}
.img-over a::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.img-over a:hover {
    box-shadow: 0 0 5px 5px #f8f9fa2b;
    border-radius: 10px;
}
.img-over a:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
/* animation */
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/*
 *  B-LAZY CSS
 * ------------------------------------------------------------------------------
 */
.img-wrap-lazy {
    background: #1a1a1a;
    padding-bottom: 54.7%;
    height: 0;
    overflow: hidden;
}
.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    max-width: 100%;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}

/*** Bootstrap
---------------------------------------------- ***/
/*.msg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px !important;
}
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}
.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}
.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}*/


/*
 *  Social icons
 * ------------------------------------------------------------------------------
 */
ul.social li {
    width: 22px;
    height: 22px;
    display: inline-table;
    border: 0 !important;
}
ul.social li:first-child {
    margin-left: 0;
}
ul.social li .icon-button {
    position: relative;
    top: 4px;
    cursor: pointer;
    display: inline-block;

    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    width: 22px;
    height: 22px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
}
/* Circle */
ul.social li .icon-button span {
    display: block;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
    height: 0;
}
ul.social li .icon-button:hover span {
    width: 22px;
    height: 22px;
    margin: -11px;
}
ul.social .facebook span {
    background: #3B5998;
}
ul.social .youtube span {
    background: #C60000;
}
ul.social .instagram span {
    background: #b043c2;
}
ul.social .twitter span {
    background: #1da1f2;
}
/* Icons */
ul.social li .icon-button i {
    background: none;
    line-height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 24px;
    height: 24px;
    transform: rotate(-45deg);
}
ul.social li .icon-button.facebook i {
    color: #3B5998;
}
ul.social li .icon-button.youtube i {
    color: #C60000;
}
ul.social li .icon-button.instagram i {
    color: #b043c2;
}
ul.social li .icon-button.twitter i {
    color: #1da1f2;
}
ul.social li .icon-button:hover i {
    color: #ffffff;
}


/*
 *  Footer
 * ------------------------------------------------------------------------------
 */
#footer {
    background: #1a1a1a;
    border-top: 2px solid #860000;
    display: block;
}

/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {

}
/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {


}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767.98px) {
    /* full screen */
    .container-fluid.full-screen {
        padding-right: 0;
        padding-left: 0;
    }
    header {
        height: 60px;
    }
    header .divLine {
        display: none;
    }
    .m-logo img {
        max-height: 40px;
    }
    .sideMenu {
        max-width: 100%;
        top: 0;
        background-color: #1a1a1a !important;
    }
    .sideMenu button.close {
        color: rgba(255,255,255,.8);
        outline: none;
        font-size: 2rem;
        font-weight: 300;
        text-shadow: none;
    }
    #navbarsExampleDefault ul li {
        padding: 0;
        border-right: 0;
        border-bottom: 1px solid #4f5962;
        margin-bottom: 10px;
    }
    #navbarsExampleDefault ul li a.nav-link {
        display: inline-block;
        height: auto;
        font-size: 16px;
    }
    #navbarsExampleDefault ul li a.nav-link i {
        padding-right: 5px;
        color: rgba(255,255,255,.8);
    }
    #navbarsExampleDefault ul li a.nav-link div span {
        color: rgba(255,255,255,.8);
        font-weight: 700;
    }

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
